@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    height: 100vh;
    background-image: url(./img/wallhaven-wy3og7.png);
    background-size: cover;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    color: rgb( 255, 255, 255);
    font-size: 20px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.15 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: 0.3s;
    position: relative;
    z-index: 99;
}

.todo-app:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 36px 0 rgba(31, 38, 135, 0.25);
}


.todo-app h2 {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.todo-app h2 span {
    margin-left: 10px;
    font-size: 30px;
    font-weight: 500;
    color: rgba(255, 145, 0, 0.856);
}

.row-group {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.795);
    border-radius: 30px;
    margin-bottom: 25px;
    padding: 2px;
}

.row-group input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: rgba(0, 0, 0, 0.678);
    padding: 12px;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    border-radius: 30px;
    transition: 0.3s;
}

.row-group input:hover {
    background-color: #f1f1f1;
    transform: scale(1.017);
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-add_task {
    margin: 10px 15px 15px 15px;
    outline: none;
    border: none;
    padding: 15px 45px;
    font-size: 15px;
    border-radius: 15px;
    color: rgb( 255, 255, 255);
    background: rgb(196,71,71);
    background: linear-gradient(90deg, rgba(196,71,71,1) 22%, rgba(231,153,114,1) 100%);
    cursor: pointer;
    transition: 0.3s;
}

#btn-add_task:hover {
    background: rgb(196,71,71);
    background: linear-gradient(90deg, rgb(209, 85, 85) 22%, rgb(241, 174, 141) 100%);
    transform: scale(1.1);
}

ul {
    font-size: 16px;
    color: rgb(255, 255, 255);
}

ul li {
    list-style: none;
    padding: 15px 8px 15px 50px;
    margin: 10px 0 10px 0;
    user-select: none;
    cursor: pointer;
    position: relative;
    background-color: rgba(255, 255, 255, 0.158);
    border-radius: 10px;
    word-wrap: break-word;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./img/unchecked.svg);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: rgba(255, 255, 255, 0.445);
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(./img/checked.svg);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
    transition: 50ms all ease-in-out;
}

ul li span:hover {
    background-color: rgba(255, 255, 255, 0.445);
}

#btn-clear {
    margin: 10px 15px 15px 15px;
    padding: 15px 45px;
    border: none;
    font-size: 15px;
    border-radius: 15px;
    color: rgb( 255, 255, 255);
    background: rgb(196,71,71);
    background: linear-gradient(90deg, rgba(196,71,71,1) 22%, rgba(231,153,114,1) 100%);
    cursor: pointer;
    transition: 0.3s;
}

#btn-clear:hover {
    background: rgb(196,71,71);
    background: linear-gradient(90deg, rgb(209, 85, 85) 22%, rgb(241, 174, 141) 100%);
    transform: scale(1.1);
}

@media (max-width: 600px) {

    .todo-app {
        max-width: 300px;
    }

    .todo-app h2 {
        font-size: 25px;
    }
    
    .todo-app h2 span {
        font-size: 25px;
    }
    
    .row-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    

    #btn-add_task {
        font-size: 14px;
        margin: 0;
        margin-right: 5px;
        margin-top: 10px;
    }

    #btn-clear {
        font-size: 14px;
        margin: 0;
        margin-left: 5px;
        margin-top: 10px;
    }
}